################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/KFC_Common/Debug
/KFC_Common/Release
/KFC_KTL/Debug
/KFC_KTL/Release
*.filters
/KFC_Networking/Debug
/KFC_Networking/Release
/_out_deb
/_out_rel
/KFC_GUI/Debug
/KFC_GUI/Release
/KFC_Common/Debug Unicode
/KFC_Common/Release Unicode
/KFC_GUI/Debug Unicode
/KFC_GUI/Release Unicode
/KFC_KTL/Debug Unicode
/KFC_KTL/Release Unicode
/KFC_Networking/Debug Unicode
/KFC_Networking/Release Unicode
/_out_deb_unicode
/_out_rel_unicode
/KFC_Formats/Debug Unicode
/KFC_Formats/Release Unicode
